{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load account %}
{% block content %}
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card" style="padding: 20px;">
            <h1> {{ object.title }} </h1>
            <img src="{{ object.thumbnail.url }}" class="card-img-top">

            <div style="padding: 10px;">
                <p>{{ object.content|safe }}</p>
            </div>
            <div class="text-center">
                <small> autor: {{ object.author }}</small>
            </div>
            <!-- obtener el username 
            if username == 'admin' or username == object.author 
            NO FUNCIONA EL IGUAL EL USERNAME AL AUTOR
            -->
            <div>
                {% user_display user as username %}
                {% if request.user ==  object.author %}

                <a href="{% url 'update-post' object.slug %}"><input type="button" class='btn btn-primary' value="Editar"></a>
                

                {% else %}
                
                <p> no es el author </p>
                {% endif %}    
                
            </div>
           
            <br />
            <p>Deja un comentario</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                
                <br />
                <button class= 'btn btn-primary' type="submit">Comentar</button>
            </form>
            <hr />
            <h5>Comentarios</h5>
            {% for comment in object.comments %}
                <div>
                    <p>@{{ comment.user }} 
                    <br />
                    {{ comment.content }}
                    <br />
                    <small> {{ comment.timestamp|timesince }} ago</small>
                    </p>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock content%}