{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card" style="padding: 10px;">
            <h1> {{ object.title }} </h1>
            <img src="{{ object.thumbnail.url }}" class="card-img-top">

            <div style="padding: 10px;">
                <p>{{ object.content }}</p>
            </div>
            <p>Deja un comentario</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class= 'btn btn-primary' type="submit">Comentar</button>
            </form>
            <hr />
            <h5>Comentarios</h5>
            {% for comment in object.comments %}
                <div>
                    <p>@{{ comment.user }} 
                    <br />
                    {{ comment.content }}
                    <br />
                    <small> {{ comment.timestamp|timesince }} ago</small>
                    </p>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock content%}